<ngx-spinner 
    bdColor="rgba(0,0,0,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
    [fullScreen]="true">
</ngx-spinner>
<div class="pages">
    <div class="task-manager-container">
        <div class="lists">
            <app-lists [lists]="lists" (getListItemDetail)="getListItemDetail($event)"
                (deleteListItem)="deleteListItem($event)"
                (refreshListItem)="getAllLists()"
                (openModalAddListItem)="openModalAddListItem()"></app-lists>
        </div>
        <div class="tasks">
            <app-tasks [tasks]="tasks"
            (openModalAddTaskItem)="openModalAddTaskItem()"></app-tasks>
        </div>
    </div>
</div>