.modal-title {
    float: left;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.modal-button {
    display: flex;
    justify-content: flex-end;
}

.btn-main {
    width: 80px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    height: 35px;
    outline: none;
    transition: all 0.5s ease-in-out;
}

.btn-main:hover {
    box-shadow: 1px 1px #53a7ea, 2px 2px #111d27, 3px 3px #192530;
    transform: translateX(-3px);
}

.btn-cancel {
    background-color: white;
    margin-right: 10px;
    border: 2px solid #3199fa;
    color: #3199fa;
}

.btn-add {
    background-color: #3199fa;
    color: white;
    border: 2px;
}
