<div class="modal-body">
    <h4 class="modal-title">{{ modalTitle }}</h4>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="text" class="form-control" formControlName="content">
        </div>
        <div class="text-error">
            <small *ngIf="formGroup.controls.content?.errors?.required && 
                    formGroup.controls.content?.touched">Mời bạn nhập nội dung
            </small>
        </div>
        <div class="modal-button">
            <button type="button" class="btn-main btn-cancel" (click)="cancel()">Cancel</button>
            <button type="submit" class="btn-main btn-add">Save</button>
        </div>
    </form>
</div>