<div class="lists">
    <div class="list-header">
        <h2 class="list-title">Lists</h2>
        <i class="fa fa-refresh" aria-hidden="true"
        (click)="refreshList()"></i>
    </div>
    <div class="list-body">
        <div class="list-body-item" *ngFor="let list of lists; index as i" (dblclick)="activeListItem(list, i)"
            [class.active]="selectedIndex === i">
            <div class="list-body-item-content">{{ list.listName }}</div>
            <div class="list-body-item-action">
                <i class="fa fa-pencil-square-o mr-2 icon-action" aria-hidden="true" (click)="updateList(list)"></i>
                <i class="fa fa-trash-o icon-action" aria-hidden="true" (click)="deleteList(list._id)"></i>
            </div>
        </div>
    </div>
    <div class=" list-footer">
        <button class="btn-add-list" (click)="addList()">
            <i class="fa fa-plus mr-2" aria-hidden="true"></i>New List
        </button>
    </div>
</div>