<div class="tasks">
    <div class="task-header">
        <h2 class="task-title">Tasks</h2>
    </div>
    <div class="task-body">
        <div class="task-body-item" *ngFor="let task of tasks; index as i">
            <div class="task-body-item-content">{{ task.taskName }}</div>
            <div class="task-body-item-action">
                <i class="fa fa-pencil-square-o mr-2 icon-action" aria-hidden="true" (click)="updateTask(task)"></i>
                <i class="fa fa-trash-o icon-action" aria-hidden="true" (click)="deleteTask(task._id)"></i>
            </div>
        </div>
    </div>
    <div class="task-footer">
        <button class="btn-add-task" (click)="addTask()">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>
</div>