<div class="tasks">
    <div class="task-header">
        <h2 class="task-title">Tasks</h2>
    </div>
    <div class="task-body">
        <!-- <div class="task-body-item" *ngFor="let item of tasks; index as i"
        (click)="activetaskItem(i)" [class.active]="selectedIndex === i">
            <div class="task-body-item-content">{{ item }}</div>
            <div class="task-body-item-action">
                <i class="fa fa-pencil-square-o mr-2 icon-action" aria-hidden="true"></i>
                <i class="fa fa-trash-o icon-action" aria-hidden="true"></i>
            </div>
        </div> -->
        <div class="task-body-item">
            <div class="task-body-item-content">dsaldklsandaskldn</div>
            <div class="task-body-item-action">
                <i class="fa fa-pencil-square-o mr-2 icon-action" aria-hidden="true"></i>
                <i class="fa fa-trash-o icon-action" aria-hidden="true"></i>
            </div>
        </div>
        <div class="task-body-item">
            <div class="task-body-item-content">dsaldklsandaskldn</div>
            <div class="task-body-item-action">
                <i class="fa fa-pencil-square-o mr-2 icon-action" aria-hidden="true"></i>
                <i class="fa fa-trash-o icon-action" aria-hidden="true"></i>
            </div>
        </div>
        <div class="task-body-item">
            <div class="task-body-item-content">dsaldklsandaskldn</div>
            <div class="task-body-item-action">
                <i class="fa fa-pencil-square-o mr-2 icon-action" aria-hidden="true"></i>
                <i class="fa fa-trash-o icon-action" aria-hidden="true"></i>
            </div>
        </div>
        <div class="task-body-item">
            <div class="task-body-item-content">dsaldklsandaskldn</div>
            <div class="task-body-item-action">
                <i class="fa fa-pencil-square-o mr-2 icon-action" aria-hidden="true"></i>
                <i class="fa fa-trash-o icon-action" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="task-footer">
        <button class="btn-add-task" (click)="addTaskItem()">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>
</div>
